{% extends "guild_settings.html" %}

{% block pagetitle %}Banned{% endblock %}

{% block content %}
<h5>Permabanned users</h5>
<pre></pre>
<table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th style="font-weight:bold;">#</th>
		<th style="font-weight:bold;">Name</th>
		<th style="font-weight:bold;">Reason</th>
	</tr>
</thead>
{% for user in users %}
	<tr>
		<td class="sex" style="font-weight:bold;">{{users.index(user)+1}}</td>
		<td class="sex"><a style="color:#{{user.namecolor}}; font-weight:bold;" href="/@{{user.username}}">{{user.username}}</a></td>
		<td class="sex" style="font-weight:bold;">{% if user.ban_reason %}{{user.ban_reason}}{% endif %}</td>
	</tr>
{% endfor %}
</table>

{% endblock %}
