{% extends "default.html" %}
{% include "emoji_modal.html" %}
{% include "gif_modal.html" %}

{% block title %}
<title>Message @{{username}}</title>
<meta name="description" content="Message @{{username}}">
{% endblock %}
<!-- Left Sidebar -->
{% block content %}

		{% if request.args.get('error') or error %}
		<div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
			<i class="fas fa-exclamation-circle my-auto"></i>
			<span>
				{{error if error else request.args.get('error')}}
			</span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="far fa-times"></i></span>
			</button>
		</div>
		{% endif %}
		{% if request.args.get('msg') or msg %}
		<div class="alert alert-success alert-dismissible fade show my-3" role="alert">
			<i class="fas fa-check-circle my-auto" aria-hidden="true"></i>
			<span>
				{{msg if msg else request.args.get('msg')}}
			</span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="far fa-times"></i></span>
			</button>
		</div>
		{% endif %}

<br><br>
<h5>Message <a style="font-weight: bold;color: #{{user.namecolor}};" href="/@{{user.username}}"><img src="/@{{user.username}}/pic/profile" class="profile-pic-20 mr-1">{{user.username}}</a></h5>
{% if v and not v.is_suspended %}

<form id="contactform" action="/@{{user.username}}/message" method="post">

	<label for="input-message" class="mt-3">Your message</label>
	<textarea id="input-message" form="contactform" name="message" class="form-control" required></textarea>
	<pre></pre>
	<pre class="btn btn-secondary format d-inline-block m-0 fas fa-bold" aria-hidden="true" onclick="makeBold('input-message')" data-toggle="tooltip" data-placement="bottom" title="Bold"></pre>
	&nbsp;
	<pre class="btn btn-secondary format d-inline-block m-0 fas fa-italic" aria-hidden="true" onclick="makeItalics('input-message')" data-toggle="tooltip" data-placement="bottom" title="Italicize"></pre>
	&nbsp;
	<pre class="btn btn-secondary format d-inline-block m-0 fas fa-quote-right" aria-hidden="true" onclick="makeQuote('input-message')" data-toggle="tooltip" data-placement="bottom" title="Quote"></pre>
	&nbsp;
	<pre style="line-height:1;" class="btn btn-secondary format d-inline-block m-0 font-weight-bolder text-uppercase" onclick="commentForm('input-message');getGif()" aria-hidden="true" data-toggle="modal" data-target="#gifModal" data-toggle="tooltip" data-placement="bottom" title="Add GIF">GIF</pre>
	&nbsp;
	<pre class="btn btn-secondary format d-inline-block m-0 fas fa-smile-beam" onclick="commentForm('input-message');loadEmojis()" aria-hidden="true" data-toggle="modal" data-target="#emojiModal" data-toggle="tooltip" data-placement="bottom" title="Add EMOJI"></pre>
	&nbsp;
	<input type="submit" value="Submit" class="btn btn-primary mt-3">

</form>

{% elif v and v.is_suspended %}

<p>Your Drama account has been suspended. You are not permitted to message users.</p>

{% else %}

<p>Please <a href="/signup" target="_blank">sign up</a> or <a href="/login" target="_blank">log in</a></p>

{% endif %}

{% endblock %}