// Colors

$primary: #ff66ac;
$dark: #383838;
$secondary: #383838;
$danger: #E53E3E;
$white: #E1E1E1;
$black: #CFCFCF;
$light: #000000;
$success: #38A169;
$muted: #E1E1E1;
$info: #168EEA;

$purple: #ff66ac;
$red: #E53E3E;
$gray: #383838;
$green: #38A169;

$gray-100: #E1E1E1;
$gray-200: #E1E1E1;
$gray-300: #383838;
$gray-400: #303030;
$gray-500: #000000;
$gray-600: #000000;
$gray-700: #000000;
$gray-800: #000000;
$gray-900: #000000;

$upvote: #ff66ac;
$downvote: #38B2AC;
$admin: #ff66ac;
$banned: #960000;
$deleted: #969600;
$deletedandbanned: #964000;
$mod: #07c20c;
$code: #e83e8c;

$gold: #ECC94B;
$reddit: #ED4630;

@import "D:/#D/ruqqus/assets/style/node_modules/bootstrap/scss/bootstrap.scss";
@import "D:/#D/ruqqus/assets/style/main.scss";

@media (min-width: 992px) {
html * {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #800000
    }
body, #main-content-col, .sidebar {
    background-color: #FFE;
    background-image: linear-gradient(to bottom, #fed6af 0, #FFE 200px);
    background-repeat: no-repeat
    }
.bg-white {
    background: transparent !important
    }
.border-right, .border-left, .border-top, .border-bottom, .border {
    border-color: #D9BFB7 !important
    }
.btn {
    border-radius: 0;
    padding: 2px
    }
.card-header {
    background: transparent !important;
    border-color: #D9BFB7 !important
    }
#guild .pseudo-submit-form.card {
    background-color: #F0E0D6 !important;
    border: 1px solid #D9BFB7 !important;
    border-style: none solid solid none !important;
    padding: 0 !important;
    border-radius: 0
    }
.post-title a {
    color: #800000 !important;
    font-size: 16px !important;
    font-weight: normal !important;
    margin-bottom: 1px !important
    }
.comment, .card {
    background-color: #F0E0D6 !important;
    border: 1px solid #D9BFB7 !important;
    border-style: none solid solid none !important;
    border-radius: 0 !important;
    padding: 2px !important
    }
.form-control {
    border: 1px solid #D9BFB7 !important;
    border-style: none solid solid none !important;
    border-radius: 0 !important;
    padding: 2px !important
    }
.comment .comment-body .user-info {
    margin-top: 0
    }
.comment-actions a, .post-actions a, .comment-actions *, .post-actions * {
    color: #00E !important;
    text-transform: capitalize;
    font-weight: normal
    }
.comment-section {
    background: transparent
    }
.comment .comment-collapse::before {
    border-left: 2px solid #D9BFB7
    }
.comment .comment-collapse:hover::before {
    border-left-color: #800000 !important
    }
.comment-actions .fa, .comment-actions .fas, .comment-actions .far {
    display: none !important
    }
.post-actions .fa, .post-actions .fas, .post-actions .far {
    display: none !important
    }
.post-actions *:hover, .comment-actions *:hover, .comment-actions .copy-link:hover {
    color: #F00 !important
    }
.sidebar-section {
    background: transparent !important
    }
.sidebar .sidebar-section .body {
    border: 0 !important
    }
.post-img {
    border-radius: 0;
    border: 0
    }
.profile-pic-20, .profile-pic-25 {
    border-radius: 0
    }
.active.arrow-up::before, .active.arrow-down::before {
    color: #00E !important
    }
.score-up, .score-down {
    color: #00E !important
    }
.arrow-up::before {
    content: "▲";
    opacity: 0
    }
.arrow-down::before {
    content: "▲";
    display: inline-block;
    transform: rotate(180deg);
    opacity: 0
    }
.active.arrow-up::before, .active.arrow-down::before {
    opacity: 1
    }
}