// Colors

$primary: #FF66AC;
$dark: #383838;
$secondary: #383838;
$danger: #E53E3E;
$white: #E1E1E1;
$black: #CFCFCF;
$light: #000015;
$success: #38A169;
$muted: #E1E1E1;
$info: #168EEA;

$purple: #FF66AC;
$red: #E53E3E;
$gray: #383838;
$green: #38A169;

$gray-100: #E1E1E1;
$gray-200: #8f8f90;
$gray-300: #383838;
$gray-400: #303030;
$gray-500: #000015;
$gray-600: #000015;
$gray-700: #000015;
$gray-800: #000015;
$gray-900: #000015;

$upvote: #FF66AC;
$downvote: #FF66AC;
$admin: #FF66AC;
$banned: #960000;
$deleted: #969600;
$deletedandbanned: #964000;
$mod: #07c20c;
$code: #e83e8c;

$gold: #ECC94B;
$reddit: #ED4630;

@import "D:/#D/ruqqus/assets/style/node_modules/bootstrap/scss/bootstrap.scss";
@import "D:/#D/ruqqus/assets/style/main.scss";