// Colors

$primary: #FF6677;
$dark: #383877;
$secondary: #383877;
$danger: #E53E77;
$white: #E1E177;
$black: #CFCF77;
$light: #000077;
$success: #38A177;
$muted: #E1E177;
$info: #168E77;

$purple: #FF6677;
$red: #E53E77;
$gray: #383877;
$green: #38A177;

$gray-100: #E1E177;
$gray-200: #8f8f77;
$gray-300: #383877;
$gray-400: #303077;
$gray-500: #000077;
$gray-600: #000077;
$gray-700: #000077;
$gray-800: #000077;
$gray-900: #000077;

$upvote: #FF6677;
$downvote: #FF6677;
$admin: #FF6677;
$banned: #960077;
$deleted: #969677;
$deletedandbanned: #964077;
$mod: #07c277;
$code: #e83e77;

$gold: #ECC977;
$reddit: #ED4677;

@import "D:/#D/ruqqus/assets/style/node_modules/bootstrap/scss/bootstrap.scss";
@import "D:/#D/ruqqus/assets/style/main.scss";