// Colors

$primary: #805AD5;
$dark: #383838;
$secondary: #383838;
$danger: #E53E3E;
$white: #E1E1E1;
$black: #CFCFCF;
$light: #000000;
$success: #38A169;
$muted: #E1E1E1;
$info: #168EEA;

$purple: #805AD5;
$red: #E53E3E;
$gray: #383838;
$green: #38A169;

$gray-100: #E1E1E1;
$gray-200: #8f8f90;
$gray-300: #383838;
$gray-400: #303030;
$gray-500: #000000;
$gray-600: #000000;
$gray-700: #000000;
$gray-800: #000000;
$gray-900: #000000;

$upvote: #805AD5;
$downvote: #805AD5;
$admin: #805AD5;
$banned: #960000;
$deleted: #969600;
$deletedandbanned: #964000;
$mod: #07c20c;
$code: #e83e8c;

$gold: #ECC94B;
$reddit: #ED4630;

@import "D:/#D/ruqqus/assets/style/node_modules/bootstrap/scss/bootstrap.scss";
@import "D:/#D/ruqqus/assets/style/main.scss";

.form-control {
	background: transparent;
}

.btn {
	background: transparent;
}

.form-control:disabled, .form-control[readonly] {
	background: transparent;
}

* {
	border-color: $primary !important;
}

.btn-success {
	border-color: #38A169 !important;
}

.btn-danger {
	border-color: #E53E3E !important;
}