// Colors

$primary: #38A169;
$dark: #3E2C18;
$secondary: #DDD2C4;
$danger: #E53E3E;
$white: #F1E7D0;
$black: #433434;
$light: #E6E9F0;
$success: #38A169;
$muted: #AA9881;
$info: #168EEA;

$purple: #FF66AC;
$red: #E53E3E;
$gray: #AA9881;
$green: #38A169;

$gray-100: #FAF8F5;
$gray-200: #DDD2C4;
$gray-300: #C9BBA9;
$gray-400: #AA9881;
$gray-500: #F1E7D4;
$gray-600: #F1E7D4;
$gray-700: #F1E7D4;
$gray-800: #F1E7D4;
$gray-900: #F1E7D4;

$upvote: #38A169;
$downvote: #38A169;
$admin: #38A169;
$banned: #FEB2B2;
$deleted: #FEFCBF;
$deletedandbanned: #ffcc99;
$mod: #07c20c;
$code: #e83e8c;

$gold: #ECC94B;
$reddit: #ED4630;

@import "D:/#D/ruqqus/assets/style/node_modules/bootstrap/scss/bootstrap.scss";
@import "D:/#D/ruqqus/assets/style/main.scss";