/* Error: Expected identifier.
 *      ,
 * 3953 | .btn-success:{
 *      |              ^
 *      '
 *   ruqqus\assets\style\main.scss 3953:14     @import
 *   ruqqus\assets\style\tronpurple.scss 44:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a      \2577 \a 3953 \2502  .btn-success:{\d\a      \2502               ^\a      \2575 \a   ruqqus\\assets\\style\\main.scss 3953:14     @import\a   ruqqus\\assets\\style\\tronpurple.scss 44:9  root stylesheet";
}
